.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 24px;
  border-radius: 16px;
  width: 45%;

  &.wide {
    width: 95%;
  }

  &.narrow {
    width: 25%;
  }
}

.input {
  border: 2px greenyellow solid;
}

.output {
  border: 2px blueviolet solid;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input {
  margin: 12px;
}

.item {
  margin-left: 24px;
}

